<a href="https://colab.research.google.com/github/vitorsr/ccd/blob/master/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Definição do Baseline

## Bibliotecas Utilizadas

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Extração de Dados

In [2]:
!wget -q -O ccd_2019.zip https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip

!unzip ccd_2019.zip

Archive:  ccd_2019.zip
  inflating: bdmep_meta.csv
  inflating: __MACOSX/._bdmep_meta.csv
  inflating: inmetr.csv
  inflating: __MACOSX/._inmetr.csv

In [3]:
!wget "https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8" -O 2019.zip
!unzip 2019.zip

--2019-10-27 01:20:48--  https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8
Resolving onedrive.live.com (onedrive.live.com)... 13.107.42.13
Connecting to onedrive.live.com (onedrive.live.com)|13.107.42.13|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://c9quda.bn.files.1drv.com/y4mlghEkOAYoHo01Wh8O-08e7W_NdKHYM_FLYUIji0JvNJjcTr7RF9B7Jlg99cSVicwghkwcRzwu9bJZqNaPDg7Y_R7DAhNzq3avE9l1lty4ZNMkFucAy6tlxLlS0wUMo20U-HQ9NO5cwQYCaAxgQnsmACh-G-lA0C8dHN5nSHEBSbtBwzTgEnQNVAIGOmV7q3q_0u4fUXy6Z29jW4dU1qpUA/2019.zip?download&psid=1 [following]
--2019-10-27 01:20:48--  https://c9quda.bn.files.1drv.com/y4mlghEkOAYoHo01Wh8O-08e7W_NdKHYM_FLYUIji0JvNJjcTr7RF9B7Jlg99cSVicwghkwcRzwu9bJZqNaPDg7Y_R7DAhNzq3avE9l1lty4ZNMkFucAy6tlxLlS0wUMo20U-HQ9NO5cwQYCaAxgQnsmACh-G-lA0C8dHN5nSHEBSbtBwzTgEnQNVAIGOmV7q3q_0u4fUXy6Z29jW4dU1qpUA/2019.zip?download&psid=1
Resolving c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)... 13.107.42.12
Connecting to c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)|13.107.42.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1857551 (1.8M) [application/zip]
Saving to: ‘2019.zip’

2019.zip            100%[===================>]   1.77M  --.-KB/s    in 0.04s

2019-10-27 01:20:50 (40.1 MB/s) - ‘2019.zip’ saved [1857551/1857551]

Archive:  2019.zip
   creating: 2019/
  inflating: 2019/82024.csv
  inflating: 2019/82042.csv
  inflating: 2019/82098.csv
  inflating: 2019/82106.csv
  inflating: 2019/82113.csv
  inflating: 2019/82141.csv
  inflating: 2019/82145.csv
  inflating: 2019/82178.csv
  inflating: 2019/82181.csv
  inflating: 2019/82184.csv
  inflating: 2019/82188.csv
  inflating: 2019/82191.csv
  inflating: 2019/82198.csv
  inflating: 2019/82212.csv
  inflating: 2019/82246.csv
  inflating: 2019/82263.csv
  inflating: 2019/82280.csv
  inflating: 2019/82317.csv
  inflating: 2019/82326.csv
  inflating: 2019/82331.csv
  inflating: 2019/82336.csv
  inflating: 2019/82353.csv
  inflating: 2019/82361.csv
  inflating: 2019/82376.csv
  inflating: 2019/82382.csv
  inflating: 2019/82392.csv
  inflating: 2019/82397.csv
  inflating: 2019/82410.csv
  inflating: 2019/82445.csv
  inflating: 2019/82460.csv
  inflating: 2019/82476.csv
  inflating: 2019/82487.csv
  inflating: 2019/82493.csv
  inflating: 2019/82533.csv
  inflating: 2019/82562.csv
  inflating: 2019/82564.csv
  inflating: 2019/82571.csv
  inflating: 2019/82578.csv
  inflating: 2019/82586.csv
  inflating: 2019/82588.csv
  inflating: 2019/82590.csv
  inflating: 2019/82596.csv
  inflating: 2019/82598.csv
  inflating: 2019/82610.csv
  inflating: 2019/82659.csv
  inflating: 2019/82668.csv
  inflating: 2019/82676.csv
  inflating: 2019/82678.csv
  inflating: 2019/82683.csv
  inflating: 2019/82686.csv
  inflating: 2019/82689.csv
  inflating: 2019/82693.csv
  inflating: 2019/82723.csv
  inflating: 2019/82753.csv
  inflating: 2019/82765.csv
  inflating: 2019/82768.csv
  inflating: 2019/82777.csv
  inflating: 2019/82780.csv
  inflating: 2019/82784.csv
  inflating: 2019/82792.csv
  inflating: 2019/82795.csv
  inflating: 2019/82797.csv
  inflating: 2019/82798.csv
  inflating: 2019/82807.csv
  inflating: 2019/82861.csv
  inflating: 2019/82863.csv
  inflating: 2019/82882.csv
  inflating: 2019/82886.csv
  inflating: 2019/82890.csv
  inflating: 2019/82893.csv
  inflating: 2019/82900.csv
  inflating: 2019/82915.csv
  inflating: 2019/82970.csv
  inflating: 2019/82975.csv
  inflating: 2019/82976.csv
  inflating: 2019/82979.csv
  inflating: 2019/82983.csv
  inflating: 2019/82990.csv
  inflating: 2019/82992.csv
  inflating: 2019/82994.csv
  inflating: 2019/82996.csv
  inflating: 2019/83007.csv
  inflating: 2019/83013.csv
  inflating: 2019/83033.csv
  inflating: 2019/83049.csv
  inflating: 2019/83064.csv
  inflating: 2019/83076.csv
  inflating: 2019/83090.csv
  inflating: 2019/83096.csv
  inflating: 2019/83097.csv
  inflating: 2019/83114.csv
  inflating: 2019/83179.csv
  inflating: 2019/83182.csv
  inflating: 2019/83184.csv
  inflating: 2019/83186.csv
  inflating: 2019/83190.csv
  inflating: 2019/83192.csv
  inflating: 2019/83195.csv
  inflating: 2019/83221.csv
  inflating: 2019/83222.csv
  inflating: 2019/83228.csv
  inflating: 2019/83229.csv
  inflating: 2019/83235.csv
  inflating: 2019/83236.csv
  inflating: 2019/83242.csv
  inflating: 2019/83244.csv
  inflating: 2019/83249.csv
  inflating: 2019/83286.csv
  inflating: 2019/83288.csv
  inflating: 2019/83309.csv
  inflating: 2019/83332.csv
  inflating: 2019/83334.csv
  inflating: 2019/83338.csv
  inflating: 2019/83339.csv
  inflating: 2019/83358.csv
  inflating: 2019/83361.csv
  inflating: 2019/83368.csv
  inflating: 2019/83376.csv
  inflating: 2019/83377.csv
  inflating: 2019/83379.csv
  inflating: 2019/83384.csv
  inflating: 2019/83386.csv
  inflating: 2019/83393.csv
  inflating: 2019/83423.csv
  inflating: 2019/83428.csv
  inflating: 2019/83437.csv
  inflating: 2019/83441.csv
  inflating: 2019/83442.csv
  inflating: 2019/83464.csv
  inflating: 2019/83470.csv
  inflating: 2019/83479.csv
  inflating: 2019/83483.csv
  inflating: 2019/83488.csv
  inflating: 2019/83498.csv
  inflating: 2019/83522.csv
  inflating: 2019/83526.csv
  inflating: 2019/83536.csv
  inflating: 2019/83538.csv
  inflating: 2019/83550.csv
  inflating: 2019/83557.csv
  inflating: 2019/83565.csv
  inflating: 2019/83577.csv
  inflating: 2019/83579.csv
  inflating: 2019/83587.csv
  inflating: 2019/83589.csv
  inflating: 2019/83591.csv
  inflating: 2019/83592.csv
  inflating: 2019/83623.csv
  inflating: 2019/83630.csv
  inflating: 2019/83632.csv
  inflating: 2019/83639.csv
  inflating: 2019/83648.csv
  inflating: 2019/83669.csv
  inflating: 2019/83676.csv
  inflating: 2019/83683.csv
  inflating: 2019/83687.csv
  inflating: 2019/83692.csv
  inflating: 2019/83695.csv
  inflating: 2019/83696.csv
  inflating: 2019/83698.csv
  inflating: 2019/83714.csv
  inflating: 2019/83718.csv
  inflating: 2019/83726.csv
  inflating: 2019/83736.csv
  inflating: 2019/83737.csv
  inflating: 2019/83738.csv
  inflating: 2019/83744.csv
  inflating: 2019/83766.csv
  inflating: 2019/83767.csv
  inflating: 2019/83781.csv
  inflating: 2019/83789.csv
  inflating: 2019/83805.csv
  inflating: 2019/83807.csv
  inflating: 2019/83811.csv
  inflating: 2019/83813.csv
  inflating: 2019/83836.csv
  inflating: 2019/83842.csv
  inflating: 2019/83844.csv
  inflating: 2019/83851.csv
  inflating: 2019/83897.csv
  inflating: 2019/83907.csv
  inflating: 2019/83912.csv
  inflating: 2019/83914.csv
  inflating: 2019/83916.csv
  inflating: 2019/83919.csv
  inflating: 2019/83927.csv
  inflating: 2019/83936.csv
  inflating: 2019/83942.csv
  inflating: 2019/83948.csv
  inflating: 2019/83964.csv
  inflating: 2019/83967.csv
  inflating: 2019/83980.csv
  inflating: 2019/83985.csv
  inflating: 2019/83995.csv
  inflating: 2019/83997.csv

In [0]:
directory = '2019'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        files.append(filename)
        continue
    else:
        continue

In [5]:
df_2019 = pd.DataFrame()
for file in files:
    df_aux = pd.read_csv(directory+'/'+file, delimiter=',')
    df_2019 = pd.concat([df_aux, df_2019], sort=True)
id_2019 = pd.unique(df_2019['id'])
id_2019

array([83632, 82588, 82992, 82983, 82676, 82191, 82659, 83557, 83377,
       83049, 83288, 82331, 83927, 83623, 83698, 82098, 82198, 83811,
       83184, 83368, 82024, 82042, 82970, 82336, 83536, 83936, 83442,
       82765, 83738, 82975, 82178, 83286, 82382, 82141, 82689, 83807,
       82493, 82586, 83550, 82723, 83844, 82890, 83639, 83997, 82317,
       83592, 82326, 83190, 83912, 83249, 82188, 82184, 83338, 83376,
       82882, 82893, 82487, 83805, 83064, 82564, 82795, 83916, 82106,
       82590, 82990, 83192, 83096, 82476, 83736, 83781, 82392, 83386,
       83591, 82578, 83522, 83767, 82181, 82533, 83090, 82145, 82212,
       83967, 82780, 83013, 82361, 83334, 83221, 83244, 82792, 83676,
       82753, 83942, 82915, 82994, 82445, 83687, 83361, 82996, 83538,
       82863, 83744, 82798, 82246, 83964, 83229, 83428, 83577, 83526,
       83441, 82376, 83695, 83483, 83919, 83669, 83379, 83579, 82596,
       82693, 83007, 83714, 82610, 82598, 83683, 83851, 82976, 83470,
       82861, 82460, 83589, 82280, 83393, 83726, 82807, 82678, 83836,
       82886, 82353, 83195, 83332, 83948, 82113, 82797, 83235, 83766,
       83437, 82683, 83789, 83076, 82668, 83692, 83097, 82686, 83358,
       83842, 83696, 83242, 83464, 83914, 83236, 82777, 83995, 83423,
       82979, 82900, 83897, 83648, 83498, 83488, 83384, 83907, 83114,
       82410, 83186, 83222, 83228, 83182, 83587, 83179, 83033, 83479,
       82263, 83630, 82571, 83813, 82397, 83985, 83980, 82784, 82768,
       83718, 83309, 83737, 83339, 83565, 82562])

<br><b>variável | descrição | unidade </b></br>
<br>date | data e hora da coleta             -
<br> id | ID da estação de coleta             -
<br>prec | precipitação |       mm
<br>tair | temperatura do ar  | graus Celsius
<br>tw | temperatura de bulbo úmido |  graus Celsius
<br>tmax | temperatura máxima do ar  | graus Celsius
<br>tmin | temperatura mínima do ar  | graus Celsius
<br>urmax | umidade relativa máxima  |             %
<br>patm | pressão atmosférica         |    hPa
<br>pnmm | pressão atmosférica média ao nível do mar  |           hPa
<br>wd | direção do vento        |   graus
<br>wsmax  |  rajadas de vento    |         m/s
<br>n |  horas de sol          |     h
<br>cc |   cobertura de nuvens    |           -
<br>evap  |   evaporação        |      mm
<br>ur  |   umidade relativa          |     %
<br>ws   |   velocidade do vento       |      m/s

In [6]:
df = pd.read_csv("inmetr.csv")
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [7]:
df_m = pd.read_csv("bdmep_meta.csv")
df_m.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

## Processamento de Dados Históricos

Os dados apresentados abragem o período entre os anos de 1970 e 2018.

Filtrando apenas para o Mês de Agosto:

In [8]:
mask = (df['date'].str.split('-',n=2,expand = True)[1]=='08')
df = df.loc[mask]
df.size

20944306

Filtrando apenas as Estações ainda Existentes em 2019:

In [9]:
mask = (df['id'].isin(id_2019))
df = df.loc[mask]
df.size

13499360

Extraindo o Ano da Coluna Date:

In [10]:
df['date'] = df['date'].str.split('-',n=1,expand = True)[1]
df.head()

                 date     id  prec  tair    tw  ...    n   cc  evap     ur   ws
53402  08-01 00:00:00  82915   NaN  25.0  22.8  ...  5.6  4.0   3.2  74.75  0.0
53403  08-01 12:00:00  82915   0.0  22.2  21.6  ...  NaN  7.0   NaN    NaN  NaN
53404  08-01 18:00:00  82915   NaN  33.8  27.0  ...  NaN  7.0   NaN    NaN  NaN
53405  08-02 00:00:00  82915   NaN  26.8  24.8  ...  3.5  6.0   2.1  83.50  NaN
53406  08-02 12:00:00  82915  21.9  11.8  11.0  ...  NaN  8.0   NaN    NaN  NaN

[5 rows x 17 columns]

Extraindo a Hora de Medição da Coluna Date:

In [11]:
df['date'] = df['date'].str.split(' ',n=1,expand = True)[0]
df.head()

        date     id  prec  tair    tw  tmax  ...  wsmax    n   cc  evap     ur   ws
53402  08-01  82915   NaN  25.0  22.8  35.0  ...    NaN  5.6  4.0   3.2  74.75  0.0
53403  08-01  82915   0.0  22.2  21.6   NaN  ...    0.0  NaN  7.0   NaN    NaN  NaN
53404  08-01  82915   NaN  33.8  27.0   NaN  ...    0.0  NaN  7.0   NaN    NaN  NaN
53405  08-02  82915   NaN  26.8  24.8  33.8  ...    NaN  3.5  6.0   2.1  83.50  NaN
53406  08-02  82915  21.9  11.8  11.0   NaN  ...    NaN  NaN  8.0   NaN    NaN  NaN

[5 rows x 17 columns]

Group By por Data e Estação:

In [12]:
df = df.groupby(by=['date','id']).mean()
df.head(1000)

                 prec       tair         tw  ...      evap         ur        ws
date  id                                     ...
08-01 82024  6.219512  27.235246  24.882883  ...  2.597143  84.051471  1.025690
      82042  4.133333  26.858163  24.436145  ...  2.345455  83.840000  0.467799
      82098  3.716327  28.204027  25.416779  ...  2.765306  81.761364  1.290667
      82106  4.888889  25.806329  24.044521  ...  1.298000  88.738372  1.182592
      82113  6.386538  26.638000  24.857746  ...  1.847368  87.191860  1.266859
...               ...        ...        ...  ...       ...        ...       ...
08-06 82336  3.765116  28.311024  25.521930  ...  3.527778  80.323529  1.007813
      82353  1.214815  28.338961  24.939610  ...  2.410870  77.088889  1.326016
      82361  1.113953  28.308462  25.276378  ...  3.400000  78.694444  1.404924
      82376  0.081395  28.585217  24.247826  ...  4.674419  72.789474  2.037037
      82382  0.159524  28.420909  23.314545  ...  5.735714  68.409722  2.142157

[1000 rows x 15 columns]

## Processamento de Dados Atuais

In [13]:
df_2019.head()

       cc                  date    evap     id  ...  urmax    wd      ws   wsmax
0 -9999.0  2019-01-01T00:00:00Z     3.0  83632  ...  -9999 -9999 -9999.0 -9999.0
1 -9999.0  2019-01-01T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
2 -9999.0  2019-01-02T00:00:00Z     2.0  83632  ...  -9999 -9999 -9999.0 -9999.0
3 -9999.0  2019-01-02T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
4 -9999.0  2019-01-03T00:00:00Z     3.5  83632  ...  -9999 -9999 -9999.0 -9999.0

[5 rows x 18 columns]

In [14]:
df_2019 = df_2019.drop(['request_status'],axis=1)
df_2019.head()

       cc                  date    evap     id  ...  urmax    wd      ws   wsmax
0 -9999.0  2019-01-01T00:00:00Z     3.0  83632  ...  -9999 -9999 -9999.0 -9999.0
1 -9999.0  2019-01-01T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
2 -9999.0  2019-01-02T00:00:00Z     2.0  83632  ...  -9999 -9999 -9999.0 -9999.0
3 -9999.0  2019-01-02T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
4 -9999.0  2019-01-03T00:00:00Z     3.5  83632  ...  -9999 -9999 -9999.0 -9999.0

[5 rows x 17 columns]

Substituindo Valores Inválidos (-9999.0):

In [15]:
df_2019 = df_2019.replace(-9999.0,np.nan)
df_2019.head()

   cc                  date  evap     id   n  ...  ur  urmax  wd  ws  wsmax
0 NaN  2019-01-01T00:00:00Z   3.0  83632 NaN  ... NaN    NaN NaN NaN    NaN
1 NaN  2019-01-01T12:00:00Z   NaN  83632 NaN  ... NaN    NaN NaN NaN    NaN
2 NaN  2019-01-02T00:00:00Z   2.0  83632 NaN  ... NaN    NaN NaN NaN    NaN
3 NaN  2019-01-02T12:00:00Z   NaN  83632 NaN  ... NaN    NaN NaN NaN    NaN
4 NaN  2019-01-03T00:00:00Z   3.5  83632 NaN  ... NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Segue-se agora o mesmo Processo feito para os Dados Históricos.

Filtrando apenas para o Mês de Agosto:

In [16]:
mask = (df_2019['date'].str.split('-',n=2,expand = True)[1]=='08')
df_2019 = df_2019.loc[mask]
df_2019.size

250733

Os Dados aqui já contém naturalmente apenas Estações Existentes em 2019.

O Ano também já é naturalmente o de 2019, mas seu valor será extraído para fins de padronização.

In [17]:
df_2019['date'] = df_2019['date'].str.split('-',n=1,expand = True)[1]
df_2019.head()

     cc             date  evap     id   n  patm  ...  tw  ur  urmax  wd  ws  wsmax
302 NaN  08-01T00:00:00Z   2.1  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
303 NaN  08-01T12:00:00Z   NaN  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
304 NaN  08-02T00:00:00Z   1.8  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
305 NaN  08-02T12:00:00Z   NaN  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
306 NaN  08-03T00:00:00Z   2.3  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Extraindo a Hora de Medição da Coluna Date:

In [18]:
df_2019['date'] = df_2019['date'].str.split('T',n=1,expand = True)[0]
df_2019.head()

     cc   date  evap     id   n  patm  pnmm  ...  tmin  tw  ur  urmax  wd  ws  wsmax
302 NaN  08-01   2.1  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
303 NaN  08-01   NaN  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
304 NaN  08-02   1.8  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
305 NaN  08-02   NaN  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
306 NaN  08-03   2.3  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Group By por Data e Estação:

In [19]:
df_2019 = df_2019.groupby(by=['date','id']).mean()
df_2019.head(1000)

                    cc  evap     n  ...         wd        ws     wsmax
date  id                            ...
08-01 82024   6.250000   NaN   9.6  ...  11.500000  0.514440  0.514440
      82098   6.333333   3.7   8.9  ...   7.666667  1.666667  2.000000
      82106   9.000000   NaN   NaN  ...   4.500000  0.514440  0.514440
      82141   5.000000   0.3  10.5  ...  14.333333  2.733333  2.733333
      82145   4.333333   1.0   9.8  ...  15.000000  0.533333  0.533333
...                ...   ...   ...  ...        ...       ...       ...
08-06 83565   9.666667   2.2   2.5  ...  11.000000  1.333333  2.000000
      83579   6.333333   4.2   0.5  ...        NaN       NaN       NaN
      83587   9.000000   4.7   1.3  ...   7.666667  2.600000  2.700000
      83589  10.000000   3.9   NaN  ...        NaN       NaN       NaN
      83592   8.333333   3.4   0.1  ...  14.000000  1.666667  1.333333

[1000 rows x 15 columns]

## Cálculo do Baseline

In [20]:
df.head()

                 prec       tair         tw  ...      evap         ur        ws
date  id                                     ...
08-01 82024  6.219512  27.235246  24.882883  ...  2.597143  84.051471  1.025690
      82042  4.133333  26.858163  24.436145  ...  2.345455  83.840000  0.467799
      82098  3.716327  28.204027  25.416779  ...  2.765306  81.761364  1.290667
      82106  4.888889  25.806329  24.044521  ...  1.298000  88.738372  1.182592
      82113  6.386538  26.638000  24.857746  ...  1.847368  87.191860  1.266859

[5 rows x 15 columns]

In [21]:
df_2019.head()

                   cc  evap     n  ...         wd        ws     wsmax
date  id                           ...
08-01 82024  6.250000   NaN   9.6  ...  11.500000  0.514440  0.514440
      82098  6.333333   3.7   8.9  ...   7.666667  1.666667  2.000000
      82106  9.000000   NaN   NaN  ...   4.500000  0.514440  0.514440
      82141  5.000000   0.3  10.5  ...  14.333333  2.733333  2.733333
      82145  4.333333   1.0   9.8  ...  15.000000  0.533333  0.533333

[5 rows x 15 columns]

In [22]:
df_merged = pd.merge(df_2019,df,on=['date','id'])
df_merged.head()

                 cc_x  evap_x   n_x  ...    evap_y       ur_y      ws_y
date  id                             ...
08-01 82024  6.250000     NaN   9.6  ...  2.597143  84.051471  1.025690
      82098  6.333333     3.7   8.9  ...  2.765306  81.761364  1.290667
      82106  9.000000     NaN   NaN  ...  1.298000  88.738372  1.182592
      82141  5.000000     0.3  10.5  ...  2.694444  79.305000  2.241212
      82145  4.333333     1.0   9.8  ...  2.139535  85.653846  1.192929

[5 rows x 30 columns]

In [0]:
baseline = pd.DataFrame()
measures = ['tair','tmax','tmin','tw']
for column in measures:
  baseline[column] =  abs(df_merged[column+'_x'] - df_merged[column+'_y'])

In [24]:
baseline.head(1000)

                 tair      tmax      tmin        tw
date  id
08-01 82024  3.135246  2.330769  1.400000  1.482883
      82098  1.862640  1.224000  2.968000  0.983221
      82106  0.256329  0.103704  0.892453  1.455479
      82141  1.204618  0.666038  3.034615  0.761078
      82145  0.789368  1.067500  1.788372  0.633046
...               ...       ...       ...       ...
08-06 83565  4.729023  7.289189       NaN  0.195942
      83579  3.758156       NaN  0.853191  1.361594
      83587  2.410766  4.507407  0.800000  0.806329
      83589  0.210173  3.923077  4.930769  1.080313
      83592  0.192402  2.373913  2.275556  0.013784

[1000 rows x 4 columns]

In [0]:
#baseline_temp = baseline.to_csv('./baseline_temp.csv')

In [0]:
from google.colab import files
#files.download('baseline_temp.csv')

## Aplicação de PCA ao Baseline

In [113]:
X = df.loc['08-19']
X

           prec       tair         tw  ...      evap         ur        ws
id                                     ...
82024  7.123684  27.869492  25.115741  ...  3.236364  81.804688  1.153363
82042  4.316667  27.754545  25.010714  ...  2.450000  83.010000  0.670326
82098  2.096078  28.630719  25.622222  ...  3.160784  79.288889  1.986928
82106  8.641071  26.086503  24.205405  ...  1.460784  87.119048  1.206268
82113  4.163462  26.705298  24.909790  ...  1.776316  86.593023  1.247275
...         ...        ...        ...  ...       ...        ...       ...
83967  2.550000  17.177019  14.359355  ...  1.917308  77.060185  1.782462
83980  3.768750  14.686897  11.864138  ...  3.491667  72.989130  3.119444
83985  1.934286  15.092661  13.422936  ...  2.550000  85.423611  3.024074
83995  2.400000  14.813669  13.166906  ...  2.447826  83.880435  2.583333
83997  4.650000  13.602158  11.919424  ...  1.970833  83.324468  3.642857

[195 rows x 15 columns]

Dropando NaN's:

In [114]:
X = X.dropna()
X

           prec       tair         tw  ...      evap         ur        ws
id                                     ...
82024  7.123684  27.869492  25.115741  ...  3.236364  81.804688  1.153363
82098  2.096078  28.630719  25.622222  ...  3.160784  79.288889  1.986928
82106  8.641071  26.086503  24.205405  ...  1.460784  87.119048  1.206268
82141  2.485965  28.531928  25.520482  ...  2.994444  78.846939  2.520370
82145  2.321429  27.253571  25.033036  ...  2.362500  85.837838  1.165517
...         ...        ...        ...  ...       ...        ...       ...
83964  1.745652  14.895683  12.058273  ...  2.297826  74.380435  1.748672
83967  2.550000  17.177019  14.359355  ...  1.917308  77.060185  1.782462
83980  3.768750  14.686897  11.864138  ...  3.491667  72.989130  3.119444
83995  2.400000  14.813669  13.166906  ...  2.447826  83.880435  2.583333
83997  4.650000  13.602158  11.919424  ...  1.970833  83.324468  3.642857

[168 rows x 15 columns]

Decompondo Wd:

In [115]:
X['wd'] = X['wd'].multiply(np.pi/180)
X['wd_cos'] = X['wd'].apply(np.cos)
X['wd_sin'] = X['wd'].apply(np.sin)
X = X.drop('wd',axis=1)
X

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           prec       tair         tw  ...        ws    wd_cos    wd_sin
id                                     ...
82024  7.123684  27.869492  25.115741  ...  1.153363  0.985853  0.167611
82098  2.096078  28.630719  25.622222  ...  1.986928  0.989923  0.141605
82106  8.641071  26.086503  24.205405  ...  1.206268  0.979277  0.202524
82141  2.485965  28.531928  25.520482  ...  2.520370  0.988558  0.150844
82145  2.321429  27.253571  25.033036  ...  1.165517  0.995067  0.099201
...         ...        ...        ...  ...       ...       ...       ...
83964  1.745652  14.895683  12.058273  ...  1.748672  0.958424  0.285349
83967  2.550000  17.177019  14.359355  ...  1.782462  0.971976  0.235079
83980  3.768750  14.686897  11.864138  ...  3.119444  0.966453  0.256842
83995  2.400000  14.813669  13.166906  ...  2.583333  0.967118  0.254329
83997  4.650000  13.602158  11.919424  ...  3.642857  0.965763  0.259425

[168 rows x 16 columns]

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)

In [0]:
pca_values = pca.fit_transform(X.values)

In [118]:
pca_values = pd.DataFrame(pca_values)
pca_values

             0          1          2
0   -33.748093 -12.382246  -9.632669
1   -41.016929  -7.278687  -8.331101
2   -27.197931 -22.448381 -10.366278
3   -42.048138  -6.347855  -7.887076
4   -40.651404 -16.081454  -7.924361
..         ...        ...        ...
163   3.984925 -14.808602  13.340381
164 -41.245286  -8.929853  15.779846
165 -17.720062  -9.552188  17.622645
166 -47.185803 -18.501276  18.130176
167 -43.769318 -19.079662  20.399091

[168 rows x 3 columns]

Concatenando Latitude e Longitude:

In [119]:
pca_values.index = X.index
pca_values

               0          1          2
id
82024 -33.748093 -12.382246  -9.632669
82098 -41.016929  -7.278687  -8.331101
82106 -27.197931 -22.448381 -10.366278
82141 -42.048138  -6.347855  -7.887076
82145 -40.651404 -16.081454  -7.924361
...          ...        ...        ...
83964   3.984925 -14.808602  13.340381
83967 -41.245286  -8.929853  15.779846
83980 -17.720062  -9.552188  17.622645
83995 -47.185803 -18.501276  18.130176
83997 -43.769318 -19.079662  20.399091

[168 rows x 3 columns]

In [120]:
pca_values = pca_values.merge(df_m,on='id')
pca_values = pca_values.drop(['alt','name','state','uf','time_zone','offset_utc','time_zone.1','offset_utc.1'],axis=1)
pca_values

        id          0          1          2        lon        lat
0    82024 -33.748093 -12.382246  -9.632669 -60.650000   2.816667
1    82098 -41.016929  -7.278687  -8.331101 -51.116667  -0.050000
2    82106 -27.197931 -22.448381 -10.366278 -67.000000  -0.116667
3    82141 -42.048138  -6.347855  -7.887076 -48.516667  -0.733333
4    82145 -40.651404 -16.081454  -7.924361 -46.900000  -1.066667
..     ...        ...        ...        ...        ...        ...
163  83964   3.984925 -14.808602  13.340381 -52.516667 -30.533333
164  83967 -41.245286  -8.929853  15.779846 -51.166667 -30.050000
165  83980 -17.720062  -9.552188  17.622645 -54.100000 -31.333333
166  83995 -47.185803 -18.501276  18.130176 -52.100000 -32.033333
167  83997 -43.769318 -19.079662  20.399091 -53.350000 -33.516667

[168 rows x 6 columns]

In [122]:
pca_components = pd.DataFrame(pca.components_)
pca_components

         0         1         2   ...        13        14        15
0 -0.015006 -0.050118 -0.069376  ...  0.000054 -0.000042  0.000166
1 -0.063819  0.158193  0.041725  ... -0.000563  0.000165 -0.000643
2  0.018007 -0.457402 -0.445701  ...  0.024922 -0.000815  0.003529

[3 rows x 16 columns]

In [0]:
pca_values.to_csv('./pca_values_08-19.csv')
pca_components.to_csv('./pca_components_08-19.csv')

In [0]:
from google.colab import files
#files.download('pca_values_08-19.csv')
#files.download('pca_components_08-19.csv')