<a href="https://colab.research.google.com/github/vitorsr/ccd/blob/master/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Definição do Baseline

## Bibliotecas Utilizadas

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Extração de Dados

In [2]:
!wget -q -O ccd_2019.zip https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip

!unzip ccd_2019.zip

Archive:  ccd_2019.zip
replace bdmep_meta.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [3]:
!wget "https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8" -O 2019.zip
!unzip 2019.zip

--2019-10-26 02:36:34--  https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8
Resolving onedrive.live.com (onedrive.live.com)... 13.107.42.13
Connecting to onedrive.live.com (onedrive.live.com)|13.107.42.13|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://c9quda.bn.files.1drv.com/y4mgrAriPrDsv6WEeHCUwAAC8GAYeW1eI6idyKfI8rm5pBHsZ6asmfmeKk00TXRf7z4W3c6pacm3amp27OE4rTEZBLapVqqPXqa1Kc2-B9jbcJ2oSXAw4amXzaE93v568B46c3cT-17TbQXd8yT1DJpHD0dxUcfTPWHRMMgKRCDAto1D60WADfwz2JsbPH6R9l0SdQM6CDKj55VM5Nwi28ZoA/2019.zip?download&psid=1 [following]
--2019-10-26 02:36:35--  https://c9quda.bn.files.1drv.com/y4mgrAriPrDsv6WEeHCUwAAC8GAYeW1eI6idyKfI8rm5pBHsZ6asmfmeKk00TXRf7z4W3c6pacm3amp27OE4rTEZBLapVqqPXqa1Kc2-B9jbcJ2oSXAw4amXzaE93v568B46c3cT-17TbQXd8yT1DJpHD0dxUcfTPWHRMMgKRCDAto1D60WADfwz2JsbPH6R9l0SdQM6CDKj55VM5Nwi28ZoA/2019.zip?download&psid=1
Resolving c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)... 13.107.42.12
Connecting to c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)|13.107.42.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1857551 (1.8M) [application/zip]
Saving to: ‘2019.zip’

2019.zip            100%[===================>]   1.77M  7.21MB/s    in 0.2s

2019-10-26 02:36:35 (7.21 MB/s) - ‘2019.zip’ saved [1857551/1857551]

Archive:  2019.zip
replace 2019/82024.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
directory = '2019'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        files.append(filename)
        continue
    else:
        continue

In [5]:
df_2019 = pd.DataFrame()
for file in files:
    df_aux = pd.read_csv(directory+'/'+file, delimiter=',')
    df_2019 = pd.concat([df_aux, df_2019], sort=True)
id_2019 = pd.unique(df_2019['id'])
id_2019

array([83632, 82588, 82992, 82983, 82676, 82191, 82659, 83557, 83377,
       83049, 83288, 82331, 83927, 83623, 83698, 82098, 82198, 83811,
       83184, 83368, 82024, 82042, 82970, 82336, 83536, 83936, 83442,
       82765, 83738, 82975, 82178, 83286, 82382, 82141, 82689, 83807,
       82493, 82586, 83550, 82723, 83844, 82890, 83639, 83997, 82317,
       83592, 82326, 83190, 83912, 83249, 82188, 82184, 83338, 83376,
       82882, 82893, 82487, 83805, 83064, 82564, 82795, 83916, 82106,
       82590, 82990, 83192, 83096, 82476, 83736, 83781, 82392, 83386,
       83591, 82578, 83522, 83767, 82181, 82533, 83090, 82145, 82212,
       83967, 82780, 83013, 82361, 83334, 83221, 83244, 82792, 83676,
       82753, 83942, 82915, 82994, 82445, 83687, 83361, 82996, 83538,
       82863, 83744, 82798, 82246, 83964, 83229, 83428, 83577, 83526,
       83441, 82376, 83695, 83483, 83919, 83669, 83379, 83579, 82596,
       82693, 83007, 83714, 82610, 82598, 83683, 83851, 82976, 83470,
       82861, 82460, 83589, 82280, 83393, 83726, 82807, 82678, 83836,
       82886, 82353, 83195, 83332, 83948, 82113, 82797, 83235, 83766,
       83437, 82683, 83789, 83076, 82668, 83692, 83097, 82686, 83358,
       83842, 83696, 83242, 83464, 83914, 83236, 82777, 83995, 83423,
       82979, 82900, 83897, 83648, 83498, 83488, 83384, 83907, 83114,
       82410, 83186, 83222, 83228, 83182, 83587, 83179, 83033, 83479,
       82263, 83630, 82571, 83813, 82397, 83985, 83980, 82784, 82768,
       83718, 83309, 83737, 83339, 83565, 82562])

<br><b>variável | descrição | unidade </b></br>
<br>date | data e hora da coleta             -
<br> id | ID da estação de coleta             -
<br>prec | precipitação |       mm
<br>tair | temperatura do ar  | graus Celsius
<br>tw | temperatura de bulbo úmido |  graus Celsius
<br>tmax | temperatura máxima do ar  | graus Celsius
<br>tmin | temperatura mínima do ar  | graus Celsius
<br>urmax | umidade relativa máxima  |             %
<br>patm | pressão atmosférica         |    hPa
<br>pnmm | pressão atmosférica média ao nível do mar  |           hPa
<br>wd | direção do vento        |   graus
<br>wsmax  |  rajadas de vento    |         m/s
<br>n |  horas de sol          |     h
<br>cc |   cobertura de nuvens    |           -
<br>evap  |   evaporação        |      mm
<br>ur  |   umidade relativa          |     %
<br>ws   |   velocidade do vento       |      m/s

In [6]:
df = pd.read_csv("inmetr.csv")
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [7]:
df_m = pd.read_csv("bdmep_meta.csv")
df_m.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

## Processamento de Dados Históricos

Os dados apresentados abragem o período entre os anos de 1970 e 2018.

Filtrando apenas para o Mês de Agosto:

In [8]:
mask = (df['date'].str.split('-',n=2,expand = True)[1]=='08')
df = df.loc[mask]
df.size

20944306

Filtrando apenas as Estações ainda Existentes em 2019:

In [9]:
mask = (df['id'].isin(id_2019))
df = df.loc[mask]
df.size

13499360

Extraindo o Ano da Coluna Date:

In [10]:
df['date'] = df['date'].str.split('-',n=1,expand = True)[1]
df.head()

                 date     id  prec  tair    tw  ...    n   cc  evap     ur   ws
53402  08-01 00:00:00  82915   NaN  25.0  22.8  ...  5.6  4.0   3.2  74.75  0.0
53403  08-01 12:00:00  82915   0.0  22.2  21.6  ...  NaN  7.0   NaN    NaN  NaN
53404  08-01 18:00:00  82915   NaN  33.8  27.0  ...  NaN  7.0   NaN    NaN  NaN
53405  08-02 00:00:00  82915   NaN  26.8  24.8  ...  3.5  6.0   2.1  83.50  NaN
53406  08-02 12:00:00  82915  21.9  11.8  11.0  ...  NaN  8.0   NaN    NaN  NaN

[5 rows x 17 columns]

Extraindo a Hora de Medição da Coluna Date:

In [11]:
df['date'] = df['date'].str.split(' ',n=1,expand = True)[0]
df.head()

        date     id  prec  tair    tw  tmax  ...  wsmax    n   cc  evap     ur   ws
53402  08-01  82915   NaN  25.0  22.8  35.0  ...    NaN  5.6  4.0   3.2  74.75  0.0
53403  08-01  82915   0.0  22.2  21.6   NaN  ...    0.0  NaN  7.0   NaN    NaN  NaN
53404  08-01  82915   NaN  33.8  27.0   NaN  ...    0.0  NaN  7.0   NaN    NaN  NaN
53405  08-02  82915   NaN  26.8  24.8  33.8  ...    NaN  3.5  6.0   2.1  83.50  NaN
53406  08-02  82915  21.9  11.8  11.0   NaN  ...    NaN  NaN  8.0   NaN    NaN  NaN

[5 rows x 17 columns]

Group By por Data e Estação:

In [12]:
df = df.groupby(by=['date','id']).mean()
df.head(1000)

                 prec       tair         tw  ...      evap         ur        ws
date  id                                     ...
08-01 82024  6.219512  27.235246  24.882883  ...  2.597143  84.051471  1.025690
      82042  4.133333  26.858163  24.436145  ...  2.345455  83.840000  0.467799
      82098  3.716327  28.204027  25.416779  ...  2.765306  81.761364  1.290667
      82106  4.888889  25.806329  24.044521  ...  1.298000  88.738372  1.182592
      82113  6.386538  26.638000  24.857746  ...  1.847368  87.191860  1.266859
...               ...        ...        ...  ...       ...        ...       ...
08-06 82336  3.765116  28.311024  25.521930  ...  3.527778  80.323529  1.007813
      82353  1.214815  28.338961  24.939610  ...  2.410870  77.088889  1.326016
      82361  1.113953  28.308462  25.276378  ...  3.400000  78.694444  1.404924
      82376  0.081395  28.585217  24.247826  ...  4.674419  72.789474  2.037037
      82382  0.159524  28.420909  23.314545  ...  5.735714  68.409722  2.142157

[1000 rows x 15 columns]

## Processamento de Dados Atuais

In [13]:
df_2019.head()

       cc                  date    evap     id  ...  urmax    wd      ws   wsmax
0 -9999.0  2019-01-01T00:00:00Z     3.0  83632  ...  -9999 -9999 -9999.0 -9999.0
1 -9999.0  2019-01-01T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
2 -9999.0  2019-01-02T00:00:00Z     2.0  83632  ...  -9999 -9999 -9999.0 -9999.0
3 -9999.0  2019-01-02T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
4 -9999.0  2019-01-03T00:00:00Z     3.5  83632  ...  -9999 -9999 -9999.0 -9999.0

[5 rows x 18 columns]

In [14]:
df_2019 = df_2019.drop(['request_status'],axis=1)
df_2019.head()

       cc                  date    evap     id  ...  urmax    wd      ws   wsmax
0 -9999.0  2019-01-01T00:00:00Z     3.0  83632  ...  -9999 -9999 -9999.0 -9999.0
1 -9999.0  2019-01-01T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
2 -9999.0  2019-01-02T00:00:00Z     2.0  83632  ...  -9999 -9999 -9999.0 -9999.0
3 -9999.0  2019-01-02T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
4 -9999.0  2019-01-03T00:00:00Z     3.5  83632  ...  -9999 -9999 -9999.0 -9999.0

[5 rows x 17 columns]

Substituindo Valores Inválidos (-9999.0):

In [15]:
df_2019 = df_2019.replace(-9999.0,np.nan)
df_2019.head()

   cc                  date  evap     id   n  ...  ur  urmax  wd  ws  wsmax
0 NaN  2019-01-01T00:00:00Z   3.0  83632 NaN  ... NaN    NaN NaN NaN    NaN
1 NaN  2019-01-01T12:00:00Z   NaN  83632 NaN  ... NaN    NaN NaN NaN    NaN
2 NaN  2019-01-02T00:00:00Z   2.0  83632 NaN  ... NaN    NaN NaN NaN    NaN
3 NaN  2019-01-02T12:00:00Z   NaN  83632 NaN  ... NaN    NaN NaN NaN    NaN
4 NaN  2019-01-03T00:00:00Z   3.5  83632 NaN  ... NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Segue-se agora o mesmo Processo feito para os Dados Históricos.

Filtrando apenas para o Mês de Agosto:

In [16]:
mask = (df_2019['date'].str.split('-',n=2,expand = True)[1]=='08')
df_2019 = df_2019.loc[mask]
df_2019.size

250733

Os Dados aqui já contém naturalmente apenas Estações Existentes em 2019.

O Ano também já é naturalmente o de 2019, mas seu valor será extraído para fins de padronização.

In [17]:
df_2019['date'] = df_2019['date'].str.split('-',n=1,expand = True)[1]
df_2019.head()

     cc             date  evap     id   n  patm  ...  tw  ur  urmax  wd  ws  wsmax
302 NaN  08-01T00:00:00Z   2.1  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
303 NaN  08-01T12:00:00Z   NaN  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
304 NaN  08-02T00:00:00Z   1.8  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
305 NaN  08-02T12:00:00Z   NaN  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN
306 NaN  08-03T00:00:00Z   2.3  83632 NaN   NaN  ... NaN NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Extraindo a Hora de Medição da Coluna Date:

In [18]:
df_2019['date'] = df_2019['date'].str.split('T',n=1,expand = True)[0]
df_2019.head()

     cc   date  evap     id   n  patm  pnmm  ...  tmin  tw  ur  urmax  wd  ws  wsmax
302 NaN  08-01   2.1  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
303 NaN  08-01   NaN  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
304 NaN  08-02   1.8  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
305 NaN  08-02   NaN  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN
306 NaN  08-03   2.3  83632 NaN   NaN   NaN  ...   NaN NaN NaN    NaN NaN NaN    NaN

[5 rows x 17 columns]

Group By por Data e Estação:

In [19]:
df_2019 = df_2019.groupby(by=['date','id']).mean()
df_2019.head(1000)

                    cc  evap     n  ...         wd        ws     wsmax
date  id                            ...
08-01 82024   6.250000   NaN   9.6  ...  11.500000  0.514440  0.514440
      82098   6.333333   3.7   8.9  ...   7.666667  1.666667  2.000000
      82106   9.000000   NaN   NaN  ...   4.500000  0.514440  0.514440
      82141   5.000000   0.3  10.5  ...  14.333333  2.733333  2.733333
      82145   4.333333   1.0   9.8  ...  15.000000  0.533333  0.533333
...                ...   ...   ...  ...        ...       ...       ...
08-06 83565   9.666667   2.2   2.5  ...  11.000000  1.333333  2.000000
      83579   6.333333   4.2   0.5  ...        NaN       NaN       NaN
      83587   9.000000   4.7   1.3  ...   7.666667  2.600000  2.700000
      83589  10.000000   3.9   NaN  ...        NaN       NaN       NaN
      83592   8.333333   3.4   0.1  ...  14.000000  1.666667  1.333333

[1000 rows x 15 columns]

In [30]:
df.loc['08-01',:]

           prec       tair         tw  ...      evap         ur        ws
id                                     ...
82024  6.219512  27.235246  24.882883  ...  2.597143  84.051471  1.025690
82042  4.133333  26.858163  24.436145  ...  2.345455  83.840000  0.467799
82098  3.716327  28.204027  25.416779  ...  2.765306  81.761364  1.290667
82106  4.888889  25.806329  24.044521  ...  1.298000  88.738372  1.182592
82113  6.386538  26.638000  24.857746  ...  1.847368  87.191860  1.266859
...         ...        ...        ...  ...       ...        ...       ...
83967  3.868627  15.946405  13.920946  ...  1.593878  80.830000  1.825548
83980  4.246000  13.745517  11.276552  ...  2.904000  76.845745  2.812925
83985  4.940625  14.461765  13.047059  ...  1.676471  87.279412  2.672549
83995  4.792500  13.594488  12.415748  ...  1.650000  86.738095  2.659524
83997  3.915909  12.545522  11.345522  ...  1.306522  87.135870  3.593496

[195 rows x 15 columns]

In [32]:
df_2019.loc['08-01',:]

             cc  evap     n  ...         wd        ws     wsmax
id                           ...
82024  6.250000   NaN   9.6  ...  11.500000  0.514440  0.514440
82098  6.333333   3.7   8.9  ...   7.666667  1.666667  2.000000
82106  9.000000   NaN   NaN  ...   4.500000  0.514440  0.514440
82141  5.000000   0.3  10.5  ...  14.333333  2.733333  2.733333
82145  4.333333   1.0   9.8  ...  15.000000  0.533333  0.533333
...         ...   ...   ...  ...        ...       ...       ...
83964  4.666667   2.0   2.4  ...  11.000000       NaN       NaN
83967  4.333333   1.9   7.2  ...  18.333333  2.333333  1.933333
83980  8.000000   6.0   0.0  ...  30.333333  3.666667  5.666667
83985  6.666667   2.3   0.1  ...  20.000000  3.066667  2.666667
83997  8.000000   1.8   NaN  ...  22.666667       NaN       NaN

[176 rows x 15 columns]