<a href="https://colab.research.google.com/github/vitorsr/ccd/blob/master/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Definição do Baseline

## Bibliotecas Utilizadas

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Extração de Dados

In [2]:
!wget -q -O ccd_2019.zip https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip

!unzip ccd_2019.zip

Archive:  ccd_2019.zip
replace bdmep_meta.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [3]:
!wget "https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8" -O 2019.zip
!unzip 2019.zip

--2019-10-26 01:25:44--  https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8
Resolving onedrive.live.com (onedrive.live.com)... 13.107.42.13
Connecting to onedrive.live.com (onedrive.live.com)|13.107.42.13|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://c9quda.bn.files.1drv.com/y4mkFThBmjwrK0wG66MVSsxiA8xUU_Y7JD49ysxJ2pl_3a8uEaBqLJZoQ_a34sZNW0hk2ZZ0GWOHpZBKpCEBe8wFqmkBaNlC-uL5VWidjZe4aknpqqmnyRTgR6aVNh5Xy1puhRP0KmdJcGoYBFG8sAm9EhbsLSDsExC6ufbPiqvWhPPzcggu__GZarDMfKfhGiNiu64hmF5pEG-XB2e8tJqHg/2019.zip?download&psid=1 [following]
--2019-10-26 01:25:45--  https://c9quda.bn.files.1drv.com/y4mkFThBmjwrK0wG66MVSsxiA8xUU_Y7JD49ysxJ2pl_3a8uEaBqLJZoQ_a34sZNW0hk2ZZ0GWOHpZBKpCEBe8wFqmkBaNlC-uL5VWidjZe4aknpqqmnyRTgR6aVNh5Xy1puhRP0KmdJcGoYBFG8sAm9EhbsLSDsExC6ufbPiqvWhPPzcggu__GZarDMfKfhGiNiu64hmF5pEG-XB2e8tJqHg/2019.zip?download&psid=1
Resolving c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)... 13.107.42.12
Connecting to c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)|13.107.42.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1857551 (1.8M) [application/zip]
Saving to: ‘2019.zip’

2019.zip            100%[===================>]   1.77M  6.94MB/s    in 0.3s

2019-10-26 01:25:45 (6.94 MB/s) - ‘2019.zip’ saved [1857551/1857551]

Archive:  2019.zip
replace 2019/82024.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
directory = '2019'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        files.append(filename)
        continue
    else:
        continue

In [0]:
df = pd.DataFrame()
for file in files:
    id_2019 = pd.read_csv(directory+'/'+file, delimiter=',')['id']
    id_2019.head()

## Leitura dos Dados

<br><b>variável | descrição | unidade </b></br>
<br>date | data e hora da coleta             -
<br> id | ID da estação de coleta             -
<br>prec | precipitação |       mm
<br>tair | temperatura do ar  | graus Celsius
<br>tw | temperatura de bulbo úmido |  graus Celsius
<br>tmax | temperatura máxima do ar  | graus Celsius
<br>tmin | temperatura mínima do ar  | graus Celsius
<br>urmax | umidade relativa máxima  |             %
<br>patm | pressão atmosférica         |    hPa
<br>pnmm | pressão atmosférica média ao nível do mar  |           hPa
<br>wd | direção do vento        |   graus
<br>wsmax  |  rajadas de vento    |         m/s
<br>n |  horas de sol          |     h
<br>cc |   cobertura de nuvens    |           -
<br>evap  |   evaporação        |      mm
<br>ur  |   umidade relativa          |     %
<br>ws   |   velocidade do vento       |      m/s

In [6]:
df = pd.read_csv("inmetr.csv")
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [7]:
df_m = pd.read_csv("bdmep_meta.csv")
df_m.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

Os dados apresentados abragem o período entre os anos de 1970 e 2018.

Filtrando apenas para o Mês de Agosto:

In [8]:
mask = (df['date'].str.split('-',n=2,expand = True)[1]=='08')
df = df.loc[mask]
df.size

20944306

Filtrando apenas as Estações ainda Existentes em 2019:

In [9]:
mask = (df['id'].isin(id_2019))
df = df.loc[mask]
df.size

70091

Extraindo o Ano da Coluna Date:

In [10]:
df['date'] = df['date'].str.split('-',n=1,expand = True)[1]
df.head()

                   date     id  prec  tair  ...   cc  evap     ur        ws
5383623  08-01 00:00:00  83632   NaN  13.2  ...  0.0   3.1  76.50  1.666667
5383624  08-01 12:00:00  83632   0.0  19.2  ...  5.0   NaN    NaN       NaN
5383625  08-01 18:00:00  83632   NaN  23.4  ...  2.0   NaN    NaN       NaN
5383626  08-02 00:00:00  83632   NaN  10.5  ...  0.0   2.8  71.75  3.000000
5383627  08-02 12:00:00  83632   0.0  18.9  ...  1.0   NaN    NaN       NaN

[5 rows x 17 columns]

Extraindo a Hora de Medição da Coluna Date:

In [11]:
df['date'] = df['date'].str.split(' ',n=1,expand = True)[0]
df.head()

          date     id  prec  tair    tw  ...    n   cc  evap     ur        ws
5383623  08-01  83632   NaN  13.2  11.9  ...  5.3  0.0   3.1  76.50  1.666667
5383624  08-01  83632   0.0  19.2  15.4  ...  NaN  5.0   NaN    NaN       NaN
5383625  08-01  83632   NaN  23.4  17.1  ...  NaN  2.0   NaN    NaN       NaN
5383626  08-02  83632   NaN  10.5   9.9  ...  6.5  0.0   2.8  71.75  3.000000
5383627  08-02  83632   0.0  18.9  14.9  ...  NaN  1.0   NaN    NaN       NaN

[5 rows x 17 columns]

Group By por Data e Estação:

In [12]:
df = df.groupby(by=['date','id']).mean()
df.head(1000)

                 prec       tair         tw  ...      evap         ur        ws
date  id                                     ...
08-01 83632  0.140909  20.050847  15.944068  ...  3.407500  70.147436  1.222222
08-02 83632  0.187234  20.673984  16.433333  ...  3.497674  70.220238  1.408730
08-03 83632  0.002174  20.785714  16.455556  ...  3.646512  69.113095  1.468254
08-04 83632  0.577778  20.804918  16.445082  ...  3.600000  68.637500  1.275000
08-05 83632  0.262222  20.805833  16.513333  ...  3.473171  69.062500  1.525000
08-06 83632  0.336957  20.898361  16.431967  ...  3.559524  67.615854  1.552846
08-07 83632  0.344681  20.761600  16.401600  ...  3.537209  69.904762  1.460318
08-08 83632  0.102128  21.050394  16.475397  ...  3.655814  67.375000  1.369896
08-09 83632  0.043478  21.012698  16.378571  ...  3.760465  66.678571  1.325397
08-10 83632  0.390909  21.149180  16.484426  ...  3.880488  66.731250  1.566667
08-11 83632  0.010638  21.312097  16.733065  ...  4.095349  68.732143  1.420635
08-12 83632  0.137778  20.972131  16.442623  ...  3.570732  66.575000  1.716667
08-13 83632  0.000000  21.211475  16.524590  ...  3.723810  68.603659  1.504065
08-14 83632  0.228889  21.073554  16.479339  ...  3.782927  67.900000  1.350000
08-15 83632  0.091304  20.881667  16.520833  ...  3.902381  68.931250  1.475000
08-16 83632  0.295652  21.154098  16.717213  ...  3.726190  68.079268  1.707317
08-17 83632  0.132609  21.193388  16.457025  ...  3.819048  68.906250  1.558333
08-18 83632  0.636957  20.970833  16.524167  ...  3.659524  66.793750  1.608333
08-19 83632  0.270213  21.382258  16.700806  ...  3.874419  67.869048  1.607936
08-20 83632  0.440426  21.554762  16.921429  ...  3.706977  67.827381  1.563492
08-21 83632  0.263830  21.127778  16.847619  ...  3.734884  68.791667  1.476190
08-22 83632  1.155556  21.363115  16.788525  ...  3.960976  66.137500  1.691667
08-23 83632  0.052174  21.589344  17.018852  ...  4.161905  67.900000  1.544716
08-24 83632  0.806667  21.786179  17.006504  ...  3.952381  66.262500  1.658537
08-25 83632  0.380435  22.225620  17.327273  ...  4.033333  65.480769  1.441667
08-26 83632  1.282609  22.309167  17.271667  ...  3.919048  64.831250  1.658333
08-27 83632  0.195745  22.524194  17.522581  ...  4.027907  66.267857  1.507937
08-28 83632  0.180851  22.474603  17.402381  ...  4.006977  63.375000  1.787302
08-29 83632  0.265957  22.933333  17.592063  ...  4.153488  63.859756  1.396825
08-30 83632  0.000000  22.608730  17.523810  ...  4.274419  65.387500  1.674603
08-31 83632  0.823404  22.628571  17.593651  ...  4.381395  64.881250  1.428571

[31 rows x 15 columns]

In [13]:
id_2019.head()

0    83632
1    83632
2    83632
3    83632
4    83632
Name: id, dtype: int64