<a href="https://colab.research.google.com/github/vitorsr/ccd/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando dados

In [0]:
import pandas as pd
import os

In [0]:
!wget https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip -O ccd_2019.zip
!unzip ccd_2019.zip

--2019-10-25 18:18:37--  https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/7rriacb7c6vzf3m/ccd_2019.zip [following]
--2019-10-25 18:18:37--  https://www.dropbox.com/s/raw/7rriacb7c6vzf3m/ccd_2019.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline/ArFhIsNC4GBGa7_xzGdmg8HUTJod3sJNg6sDUVVniEJ5c-xnVUjcI8KLGQJwXn3HP2yLtsAoX87hpbpcUAMc_VCe7x45wJU4KGbqfKNYFFvTJEh77vFA2VEyojmAL8NAqHc/file# [following]
--2019-10-25 18:18:38--  https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline/ArFhIsNC4GBGa7_xzGdmg8HUTJod3sJNg6sDUVVniEJ5c-xnVUjcI8KLGQJwXn3HP2yLtsAoX87hpbpcUAMc_VCe7x45wJU4KGbqfKNYFFvTJEh77vFA2VEyojmAL8NAqHc/file
Resolving ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com (ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com)... 162.125.9.6, 2620:100:601b:6::a27d:806
Connecting to ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com (ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com)|162.125.9.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/ArESHTPzFe3yCtY1kvARhstleFDUuvRIoBtuQxFclXIYKkBKvX3xT11-1JWJPVjCK-I9SsvJMnE9kkeVDQcETcpOcjd51uWPZ3NI0JURTTs_IN-zv8N5yMerA_rml70xOLagveb_u13cCdKt4XHc7tYMPo76VU6M_PAETazyZsarYJl_i3aBl9dRZEca-GASh5FynAR-bW0_OUCU6ScUYWHx5W0A3au1Z-SeaSSZZg1uV7VUH_Rlgz5tLKW7fQHxnc9Z4J0McOtDunkVOdnGmvn-JrDhGQXHXRS08v5ViKt3s7w98LFwgJsiKHccxKGof2Di9VoAYp2uT_UgIgVdKI8EFvllmevsvzHgQAEmbqM0AA/file [following]
--2019-10-25 18:18:38--  https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline2/ArESHTPzFe3yCtY1kvARhstleFDUuvRIoBtuQxFclXIYKkBKvX3xT11-1JWJPVjCK-I9SsvJMnE9kkeVDQcETcpOcjd51uWPZ3NI0JURTTs_IN-zv8N5yMerA_rml70xOLagveb_u13cCdKt4XHc7tYMPo76VU6M_PAETazyZsarYJl_i3aBl9dRZEca-GASh5FynAR-bW0_OUCU6ScUYWHx5W0A3au1Z-SeaSSZZg1uV7VUH_Rlgz5tLKW7fQHxnc9Z4J0McOtDunkVOdnGmvn-JrDhGQXHXRS08v5ViKt3s7w98LFwgJsiKHccxKGof2Di9VoAYp2uT_UgIgVdKI8EFvllmevsvzHgQAEmbqM0AA/file
Reusing existing connection to ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 214105380 (204M) [application/zip]
Saving to: ‘ccd_2019.zip’

ccd_2019.zip        100%[===================>] 204.19M  41.0MB/s    in 7.4s

2019-10-25 18:18:46 (27.7 MB/s) - ‘ccd_2019.zip’ saved [214105380/214105380]

Archive:  ccd_2019.zip
replace bdmep_meta.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

Import csvs from git

In [0]:
df_m = pd.read_csv("bdmep_meta.csv")

In [0]:
df = pd.read_csv("inmetr.csv")

In [0]:
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [0]:
df_m.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

### Dicionário de dados:

<br><b>variável | descrição | unidade </b></br>
<br>date | data e hora da coleta             -
<br> id | ID da estação de coleta             -
<br>prec | precipitação |       mm
<br>tair | temperatura do ar  | graus Celsius
<br>tw | temperatura de bulbo úmido |  graus Celsius
<br>tmax | temperatura máxima do ar  | graus Celsius
<br>tmin | temperatura mínima do ar  | graus Celsius
<br>urmax | umidade relativa máxima  |             %
<br>patm | pressão atmosférica         |    hPa
<br>pnmm | pressão atmosférica média ao nível do mar  |           hPa
<br>wd | direção do vento        |   graus
<br>wsmax  |  rajadas de vento    |         m/s
<br>n |  horas de sol          |     h
<br>cc |   cobertura de nuvens    |           -
<br>evap  |   evaporação        |      mm
<br>ur  |   umidade relativa          |     %
<br>ws   |   velocidade do vento       |      m/s

## Explorando

> **Hipótese**: as queimadas que ocorreram na amazônia, entre 8 e 22 de Agosto de 2019 influenciaram as temperaturas na região e/ou no restante do país?

Primeiramente, vamos fazer que a coluna date seja do tipo **datetime**

In [0]:
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [0]:
df.dtypes

date      object
id         int64
prec     float64
tair     float64
tw       float64
tmax     float64
tmin     float64
urmax    float64
patm     float64
pnmm     float64
wd       float64
wsmax    float64
n        float64
cc       float64
evap     float64
ur       float64
ws       float64
dtype: object

In [0]:
df['date'] = pd.to_datetime(df['date'])

In [0]:
df.dtypes

date     datetime64[ns]
id                int64
prec            float64
tair            float64
tw              float64
tmax            float64
tmin            float64
urmax           float64
patm            float64
pnmm            float64
wd              float64
wsmax           float64
n               float64
cc              float64
evap            float64
ur              float64
ws              float64
dtype: object



```
# This is formatted as code
```

Vamos selecionar o período desejado para a análise: 01/Ago a 31/Ago

In [0]:
start_date = pd.to_datetime('01/08/2019', dayfirst=True)
end_date = pd.to_datetime('31/08/2019', dayfirst=True)

In [0]:
mask = (df['date'] > start_date) & (df['date'] < end_date)

In [0]:
df['date'].max()

Timestamp('2018-12-31 18:00:00')

> <b>Não</b> temos dados de <b>2019</b>!!! Vamos baixar da fonte

In [45]:
!wget "https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8" -O 2019.zip
!unzip 2019.zip

--2019-10-25 21:06:58--  https://onedrive.live.com/download?cid=BCBADB0836C97273&resid=BCBADB0836C97273%21115485&authkey=AJlb41BWz0YiBd8
Resolving onedrive.live.com (onedrive.live.com)... 13.107.42.13
Connecting to onedrive.live.com (onedrive.live.com)|13.107.42.13|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://c9quda.bn.files.1drv.com/y4m7EqylrX6a0BtNXmtH14tmIGGf_QGpl0tJX07tDMq2ioXDPF1Nvz-hAjAcIqK5ymi6tyiOAHj3ZxT9tIseOcF97eV8tae4KgTVUvTgbshMNyM4yYNI8OQ0OH9WDeEwZs8rJYv5DDMGYsVsrLnIa1xKkcjuEOAEhssfAUWLm0gRb-0P8sIyRfQz4XONRTSmxeJYpq1-d6i1P-mmiuR-OH-Uw/2019.zip?download&psid=1 [following]
--2019-10-25 21:06:59--  https://c9quda.bn.files.1drv.com/y4m7EqylrX6a0BtNXmtH14tmIGGf_QGpl0tJX07tDMq2ioXDPF1Nvz-hAjAcIqK5ymi6tyiOAHj3ZxT9tIseOcF97eV8tae4KgTVUvTgbshMNyM4yYNI8OQ0OH9WDeEwZs8rJYv5DDMGYsVsrLnIa1xKkcjuEOAEhssfAUWLm0gRb-0P8sIyRfQz4XONRTSmxeJYpq1-d6i1P-mmiuR-OH-Uw/2019.zip?download&psid=1
Resolving c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)... 13.107.43.12
Connecting to c9quda.bn.files.1drv.com (c9quda.bn.files.1drv.com)|13.107.43.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1857551 (1.8M) [application/zip]
Saving to: ‘2019.zip’

2019.zip            100%[===================>]   1.77M  --.-KB/s    in 0.1s

2019-10-25 21:07:00 (16.4 MB/s) - ‘2019.zip’ saved [1857551/1857551]

Archive:  2019.zip
replace 2019/82024.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82024.csv
replace 2019/82042.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82042.csv
replace 2019/82098.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82098.csv
replace 2019/82106.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82106.csv
replace 2019/82113.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82113.csv
replace 2019/82141.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82141.csv
replace 2019/82145.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82145.csv
replace 2019/82178.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82178.csv
replace 2019/82181.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82181.csv
replace 2019/82184.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82184.csv
replace 2019/82188.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82188.csv
replace 2019/82191.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82191.csv
replace 2019/82198.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82198.csv
replace 2019/82212.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82212.csv
replace 2019/82246.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82246.csv
replace 2019/82263.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82263.csv
replace 2019/82280.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82280.csv
replace 2019/82317.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82317.csv
replace 2019/82326.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82326.csv
replace 2019/82331.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82331.csv
replace 2019/82336.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82336.csv
replace 2019/82353.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82353.csv
replace 2019/82361.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82361.csv
replace 2019/82376.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82376.csv
replace 2019/82382.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82382.csv
replace 2019/82392.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82392.csv
replace 2019/82397.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82397.csv
replace 2019/82410.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82410.csv
replace 2019/82445.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82445.csv
replace 2019/82460.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82460.csv
replace 2019/82476.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82476.csv
replace 2019/82487.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82487.csv
replace 2019/82493.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82493.csv
replace 2019/82533.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82533.csv
replace 2019/82562.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82562.csv
replace 2019/82564.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82564.csv
replace 2019/82571.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82571.csv
replace 2019/82578.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82578.csv
replace 2019/82586.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82586.csv
replace 2019/82588.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82588.csv
replace 2019/82590.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82590.csv
replace 2019/82596.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82596.csv
replace 2019/82598.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82598.csv
replace 2019/82610.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82610.csv
replace 2019/82659.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82659.csv
replace 2019/82668.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82668.csv
replace 2019/82676.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82676.csv
replace 2019/82678.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82678.csv
replace 2019/82683.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82683.csv
replace 2019/82686.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82686.csv
replace 2019/82689.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82689.csv
replace 2019/82693.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82693.csv
replace 2019/82723.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82723.csv
replace 2019/82753.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82753.csv
replace 2019/82765.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82765.csv
replace 2019/82768.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82768.csv
replace 2019/82777.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82777.csv
replace 2019/82780.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82780.csv
replace 2019/82784.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82784.csv
replace 2019/82792.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82792.csv
replace 2019/82795.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82795.csv
replace 2019/82797.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82797.csv
replace 2019/82798.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82798.csv
replace 2019/82807.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82807.csv
replace 2019/82861.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82861.csv
replace 2019/82863.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82863.csv
replace 2019/82882.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82882.csv
replace 2019/82886.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82886.csv
replace 2019/82890.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82890.csv
replace 2019/82893.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82893.csv
replace 2019/82900.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82900.csv
replace 2019/82915.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82915.csv
replace 2019/82970.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82970.csv
replace 2019/82975.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82975.csv
replace 2019/82976.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82976.csv
replace 2019/82979.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82979.csv
replace 2019/82983.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82983.csv
replace 2019/82990.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82990.csv
replace 2019/82992.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82992.csv
replace 2019/82994.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82994.csv
replace 2019/82996.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/82996.csv
replace 2019/83007.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83007.csv
replace 2019/83013.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83013.csv
replace 2019/83033.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83033.csv
replace 2019/83049.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83049.csv
replace 2019/83064.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83064.csv
replace 2019/83076.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83076.csv
replace 2019/83090.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83090.csv
replace 2019/83096.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83096.csv
replace 2019/83097.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83097.csv
replace 2019/83114.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83114.csv
replace 2019/83179.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83179.csv
replace 2019/83182.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83182.csv
replace 2019/83184.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83184.csv
replace 2019/83186.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83186.csv
replace 2019/83190.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83190.csv
replace 2019/83192.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83192.csv
replace 2019/83195.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83195.csv
replace 2019/83221.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83221.csv
replace 2019/83222.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83222.csv
replace 2019/83228.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83228.csv
replace 2019/83229.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83229.csv
replace 2019/83235.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83235.csv
replace 2019/83236.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83236.csv
replace 2019/83242.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83242.csv
replace 2019/83244.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83244.csv
replace 2019/83249.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83249.csv
replace 2019/83286.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83286.csv
replace 2019/83288.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83288.csv
replace 2019/83309.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83309.csv
replace 2019/83332.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83332.csv
replace 2019/83334.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83334.csv
replace 2019/83338.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83338.csv
replace 2019/83339.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83339.csv
replace 2019/83358.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83358.csv
replace 2019/83361.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83361.csv
replace 2019/83368.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83368.csv
replace 2019/83376.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83376.csv
replace 2019/83377.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83377.csv
replace 2019/83379.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83379.csv
replace 2019/83384.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83384.csv
replace 2019/83386.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83386.csv
replace 2019/83393.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83393.csv
replace 2019/83423.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83423.csv
replace 2019/83428.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83428.csv
replace 2019/83437.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83437.csv
replace 2019/83441.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83441.csv
replace 2019/83442.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83442.csv
replace 2019/83464.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83464.csv
replace 2019/83470.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83470.csv
replace 2019/83479.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83479.csv
replace 2019/83483.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83483.csv
replace 2019/83488.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83488.csv
replace 2019/83498.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83498.csv
replace 2019/83522.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83522.csv
replace 2019/83526.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83526.csv
replace 2019/83536.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83536.csv
replace 2019/83538.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83538.csv
replace 2019/83550.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83550.csv
replace 2019/83557.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83557.csv
replace 2019/83565.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83565.csv
replace 2019/83577.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83577.csv
replace 2019/83579.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83579.csv
replace 2019/83587.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83587.csv
replace 2019/83589.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83589.csv
replace 2019/83591.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83591.csv
replace 2019/83592.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83592.csv
replace 2019/83623.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83623.csv
replace 2019/83630.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83630.csv
replace 2019/83632.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83632.csv
replace 2019/83639.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83639.csv
replace 2019/83648.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83648.csv
replace 2019/83669.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83669.csv
replace 2019/83676.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83676.csv
replace 2019/83683.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83683.csv
  inflating: 2019/83687.csv
  inflating: 2019/83692.csv
replace 2019/83695.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83695.csv
replace 2019/83696.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83696.csv
replace 2019/83698.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83698.csv
replace 2019/83714.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83714.csv
replace 2019/83718.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83718.csv
replace 2019/83726.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83726.csv
replace 2019/83736.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83736.csv
replace 2019/83737.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83737.csv
replace 2019/83738.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83738.csv
replace 2019/83744.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83744.csv
replace 2019/83766.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83766.csv
replace 2019/83767.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83767.csv
replace 2019/83781.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83781.csv
replace 2019/83789.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83789.csv
replace 2019/83805.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83805.csv
replace 2019/83807.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83807.csv
replace 2019/83811.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83811.csv
replace 2019/83813.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83813.csv
replace 2019/83836.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83836.csv
replace 2019/83842.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83842.csv
replace 2019/83844.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83844.csv
replace 2019/83851.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83851.csv
replace 2019/83897.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83897.csv
replace 2019/83907.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83907.csv
replace 2019/83912.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83912.csv
replace 2019/83914.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83914.csv
replace 2019/83916.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83916.csv
replace 2019/83919.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83919.csv
replace 2019/83927.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83927.csv
replace 2019/83936.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83936.csv
replace 2019/83942.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83942.csv
replace 2019/83948.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83948.csv
replace 2019/83964.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83964.csv
replace 2019/83967.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83967.csv
replace 2019/83980.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83980.csv
replace 2019/83985.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83985.csv
replace 2019/83995.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83995.csv
replace 2019/83997.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: 2019/83997.csv

In [46]:
%ls

 2019/            ccd_2019.zip                             inmetr.csv
 2019.zip        'index.html?authkey=!ACeM58BouQn1pCQ'     __MACOSX/
 bdmep_meta.csv  'index.html?authkey=!ACeM58BouQn1pCQ.1'   sample_data/

In [0]:
%cd 2019

In [38]:
%ls

 2019/            ccd_2019.zip                             inmetr.csv
 2019.zip        'index.html?authkey=!ACeM58BouQn1pCQ'     __MACOSX/
 bdmep_meta.csv  'index.html?authkey=!ACeM58BouQn1pCQ.1'   sample_data/

In [37]:
%cd ..

/content

In [0]:
directory = '2019'
files = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        files.append(filename)
        continue
    else:
        continue

In [49]:
files

['82562.csv',
 '83565.csv',
 '83339.csv',
 '83737.csv',
 '83309.csv',
 '83718.csv',
 '82768.csv',
 '82784.csv',
 '83980.csv',
 '83985.csv',
 '82397.csv',
 '83813.csv',
 '82571.csv',
 '83630.csv',
 '82263.csv',
 '83479.csv',
 '83033.csv',
 '83179.csv',
 '83587.csv',
 '83182.csv',
 '83228.csv',
 '83222.csv',
 '83186.csv',
 '82410.csv',
 '83114.csv',
 '83907.csv',
 '83384.csv',
 '83488.csv',
 '83498.csv',
 '83648.csv',
 '83897.csv',
 '82900.csv',
 '82979.csv',
 '83423.csv',
 '83995.csv',
 '82777.csv',
 '83236.csv',
 '83914.csv',
 '83464.csv',
 '83242.csv',
 '83696.csv',
 '83842.csv',
 '83358.csv',
 '82686.csv',
 '83097.csv',
 '83692.csv',
 '82668.csv',
 '83076.csv',
 '83789.csv',
 '82683.csv',
 '83437.csv',
 '83766.csv',
 '83235.csv',
 '82797.csv',
 '82113.csv',
 '83948.csv',
 '83332.csv',
 '83195.csv',
 '82353.csv',
 '82886.csv',
 '83836.csv',
 '82678.csv',
 '82807.csv',
 '83726.csv',
 '83393.csv',
 '82280.csv',
 '83589.csv',
 '82460.csv',
 '82861.csv',
 '83470.csv',
 '82976.csv',
 '83851.csv',
 '83683.csv',
 '82598.csv',
 '82610.csv',
 '83714.csv',
 '83007.csv',
 '82693.csv',
 '82596.csv',
 '83579.csv',
 '83379.csv',
 '83669.csv',
 '83919.csv',
 '83483.csv',
 '83695.csv',
 '82376.csv',
 '83441.csv',
 '83526.csv',
 '83577.csv',
 '83428.csv',
 '83229.csv',
 '83964.csv',
 '82246.csv',
 '82798.csv',
 '83744.csv',
 '82863.csv',
 '83538.csv',
 '82996.csv',
 '83361.csv',
 '83687.csv',
 '82445.csv',
 '82994.csv',
 '82915.csv',
 '83942.csv',
 '82753.csv',
 '83676.csv',
 '82792.csv',
 '83244.csv',
 '83221.csv',
 '83334.csv',
 '82361.csv',
 '83013.csv',
 '82780.csv',
 '83967.csv',
 '82212.csv',
 '82145.csv',
 '83090.csv',
 '82533.csv',
 '82181.csv',
 '83767.csv',
 '83522.csv',
 '82578.csv',
 '83591.csv',
 '83386.csv',
 '82392.csv',
 '83781.csv',
 '83736.csv',
 '82476.csv',
 '83096.csv',
 '83192.csv',
 '82990.csv',
 '82590.csv',
 '82106.csv',
 '83916.csv',
 '82795.csv',
 '82564.csv',
 '83064.csv',
 '83805.csv',
 '82487.csv',
 '82893.csv',
 '82882.csv',
 '83376.csv',
 '83338.csv',
 '82184.csv',
 '82188.csv',
 '83249.csv',
 '83912.csv',
 '83190.csv',
 '82326.csv',
 '83592.csv',
 '82317.csv',
 '83997.csv',
 '83639.csv',
 '82890.csv',
 '83844.csv',
 '82723.csv',
 '83550.csv',
 '82586.csv',
 '82493.csv',
 '83807.csv',
 '82689.csv',
 '82141.csv',
 '82382.csv',
 '83286.csv',
 '82178.csv',
 '82975.csv',
 '83738.csv',
 '82765.csv',
 '83442.csv',
 '83936.csv',
 '83536.csv',
 '82336.csv',
 '82970.csv',
 '82042.csv',
 '82024.csv',
 '83368.csv',
 '83184.csv',
 '83811.csv',
 '82198.csv',
 '82098.csv',
 '83698.csv',
 '83623.csv',
 '83927.csv',
 '82331.csv',
 '83288.csv',
 '83049.csv',
 '83377.csv',
 '83557.csv',
 '82659.csv',
 '82191.csv',
 '82676.csv',
 '82983.csv',
 '82992.csv',
 '82588.csv',
 '83632.csv']

In [50]:
len(files)

195

In [0]:
df = pd.DataFrame()
for file in files:
    df_aux = pd.read_csv(directory+'/'+file, delimiter=',')
    df = pd.concat([df_aux, df], sort=True)

In [44]:
df

          cc                  date    evap     id  ...  urmax    wd      ws   wsmax
0   -9999.00  2019-01-01T00:00:00Z     3.0  83632  ...  -9999 -9999 -9999.0 -9999.0
1   -9999.00  2019-01-01T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
2   -9999.00  2019-01-02T00:00:00Z     2.0  83632  ...  -9999 -9999 -9999.0 -9999.0
3   -9999.00  2019-01-02T12:00:00Z -9999.0  83632  ...  -9999 -9999 -9999.0 -9999.0
4   -9999.00  2019-01-03T00:00:00Z     3.5  83632  ...  -9999 -9999 -9999.0 -9999.0
..       ...                   ...     ...    ...  ...    ...   ...     ...     ...
503     2.50  2019-08-02T12:00:00Z -9999.0  82562  ...     77    36 -9999.0 -9999.0
504     3.75  2019-08-02T18:00:00Z -9999.0  82562  ...     47    14 -9999.0 -9999.0
505     0.00  2019-08-03T00:00:00Z -9999.0  82562  ...     66     9 -9999.0 -9999.0
506 -9999.00  2019-08-03T12:00:00Z -9999.0  82562  ...  -9999 -9999 -9999.0 -9999.0
507 -9999.00  2019-08-04T12:00:00Z -9999.0  82562  ...  -9999 -9999 -9999.0 -9999.0

[116155 rows x 18 columns]

### Sobre a nuvem preta de SP

>Segundo o documento, a passagem da frente fria fez o vento de camadas mais altas da atmosfera (entre mil metros e 5 mil metros de altitude) mudar de direção. Com isso, a fumaça acabou “direcionada para o estado de São Paulo, mas também para a região sul de Mato Grosso, Mato Grosso do Sul e Paraná”. O texto destaca, ainda, que o satélite Terra/MODIS, operado pela Nasa, detectou que uma grande quantidade de fumaça vinda da Bolívia e de Rondônia se encaminhava ao sul do Brasil no dia 17 de agosto. A fumaça, antes concentrada do sul do país, teria ganhado Paraná e Mato Grosso do Sul e alcançado São Paulo no dia 19 de agosto – justamente quando a tarde ficou escura na capital paulistana.<

>Segundo o documento, a passagem da frente fria fez o vento de camadas mais altas da atmosfera (entre mil metros e 5 mil metros de altitude) mudar de direção. Com isso, a fumaça acabou “direcionada para o estado de São Paulo, mas também para a região sul de Mato Grosso, Mato Grosso do Sul e Paraná”. O texto destaca, ainda, que o satélite Terra/MODIS, operado pela Nasa, detectou que uma grande quantidade de fumaça vinda da Bolívia e de Rondônia se encaminhava ao sul do Brasil no dia 17 de agosto. A fumaça, antes concentrada do sul do país, teria ganhado Paraná e Mato Grosso do Sul e alcançado São Paulo no dia 19 de agosto – justamente quando a tarde ficou escura na capital paulistana.

>Para notar a tal frente fria, bastava olhar os termômetros. Segundo o Inmet (Instituto Nacional de Meteorologia), na tarde do domingo (18), a temperatura às 15h era de 28,4°C. No mesmo horário do dia seguinte (19), registrou-se 15,3°C – um declínio de 13°C. Isso deixou o dia encoberto e com garoa em diferentes cidades do estado de São Paulo já no começo da segunda-feira. 

>“A sensação de escuridão foi por conta da formação de uma nuvem bastante baixa e densa, provavelmente uma nuvem Nimbustratus ou Cumulonimbus, que se formou na região de São Paulo, muito próxima a superfície. É normal acontecer, se tem o avanço da frente fria, dependendo das condições de umidade, pode se formar essas nuvens”, explicou o meteorologista do CPTEC, Maicon Veber.

>“As partículas [de fumaça] funcionam como núcleo de condensação da água. Assim, gotículas de chuva menores são formadas, mas em grande quantidade, e isso faz com que uma maior parte da radiação solar seja refletida de volta para o espaço, a ponto de escurecer o solo”, explicou. [fonte](https://www.oeco.org.br/noticias/pesquisadores-descrevem-fenomeno-que-escureceu-sp-e-sua-relacao-com-as-queimadas-na-amazonia/)

In [0]:
df['id'].nunique()

389

# Prophet
## Quick Start

Source: https://facebook.github.io/prophet/docs/quick_start.html

In [0]:
import pandas as pd
from fbprophet import Prophet

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_wp_log_peyton_manning.csv")
df.head()

In [0]:
m = Prophet()
m.fit(df)

In [0]:
future = m.make_future_dataframe(periods=365)
future.tail()

In [0]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [0]:
fig1 = m.plot(forecast)

In [0]:
fig2 = m.plot_components(forecast)