<a href="https://colab.research.google.com/github/vitorsr/ccd/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando dados

In [12]:
!wget https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip -O ccd_2019.zip
!unzip ccd_2019.zip

--2019-10-25 18:18:37--  https://www.dropbox.com/s/7rriacb7c6vzf3m/ccd_2019.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/7rriacb7c6vzf3m/ccd_2019.zip [following]
--2019-10-25 18:18:37--  https://www.dropbox.com/s/raw/7rriacb7c6vzf3m/ccd_2019.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline/ArFhIsNC4GBGa7_xzGdmg8HUTJod3sJNg6sDUVVniEJ5c-xnVUjcI8KLGQJwXn3HP2yLtsAoX87hpbpcUAMc_VCe7x45wJU4KGbqfKNYFFvTJEh77vFA2VEyojmAL8NAqHc/file# [following]
--2019-10-25 18:18:38--  https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline/ArFhIsNC4GBGa7_xzGdmg8HUTJod3sJNg6sDUVVniEJ5c-xnVUjcI8KLGQJwXn3HP2yLtsAoX87hpbpcUAMc_VCe7x45wJU4KGbqfKNYFFvTJEh77vFA2VEyojmAL8NAqHc/file
Resolving ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com (ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com)... 162.125.9.6, 2620:100:601b:6::a27d:806
Connecting to ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com (ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com)|162.125.9.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/ArESHTPzFe3yCtY1kvARhstleFDUuvRIoBtuQxFclXIYKkBKvX3xT11-1JWJPVjCK-I9SsvJMnE9kkeVDQcETcpOcjd51uWPZ3NI0JURTTs_IN-zv8N5yMerA_rml70xOLagveb_u13cCdKt4XHc7tYMPo76VU6M_PAETazyZsarYJl_i3aBl9dRZEca-GASh5FynAR-bW0_OUCU6ScUYWHx5W0A3au1Z-SeaSSZZg1uV7VUH_Rlgz5tLKW7fQHxnc9Z4J0McOtDunkVOdnGmvn-JrDhGQXHXRS08v5ViKt3s7w98LFwgJsiKHccxKGof2Di9VoAYp2uT_UgIgVdKI8EFvllmevsvzHgQAEmbqM0AA/file [following]
--2019-10-25 18:18:38--  https://ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com/cd/0/inline2/ArESHTPzFe3yCtY1kvARhstleFDUuvRIoBtuQxFclXIYKkBKvX3xT11-1JWJPVjCK-I9SsvJMnE9kkeVDQcETcpOcjd51uWPZ3NI0JURTTs_IN-zv8N5yMerA_rml70xOLagveb_u13cCdKt4XHc7tYMPo76VU6M_PAETazyZsarYJl_i3aBl9dRZEca-GASh5FynAR-bW0_OUCU6ScUYWHx5W0A3au1Z-SeaSSZZg1uV7VUH_Rlgz5tLKW7fQHxnc9Z4J0McOtDunkVOdnGmvn-JrDhGQXHXRS08v5ViKt3s7w98LFwgJsiKHccxKGof2Di9VoAYp2uT_UgIgVdKI8EFvllmevsvzHgQAEmbqM0AA/file
Reusing existing connection to ucb8701080627bcd6d12ca478523.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 214105380 (204M) [application/zip]
Saving to: ‘ccd_2019.zip’

ccd_2019.zip        100%[===================>] 204.19M  41.0MB/s    in 7.4s

2019-10-25 18:18:46 (27.7 MB/s) - ‘ccd_2019.zip’ saved [214105380/214105380]

Archive:  ccd_2019.zip
replace bdmep_meta.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import pandas as pd

Import csvs from git

In [0]:
df_m = pd.read_csv("bdmep_meta.csv")

In [0]:
df = pd.read_csv("inmetr.csv")

In [16]:
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [17]:
df_m.head()

      id        lon        lat  ...  offset_utc         time_zone.1 offset_utc.1
0  83010 -68.733333 -11.016667  ...          -5  America/Rio_Branco           -5
1  82704 -72.666667  -7.633333  ...          -5  America/Rio_Branco           -5
2  82915 -67.800000  -9.966667  ...          -5  America/Rio_Branco           -5
3  82807 -70.766667  -8.166667  ...          -5  America/Rio_Branco           -5
4  83098 -36.166667 -10.150000  ...          -3      America/Maceio           -3

[5 rows x 11 columns]

### Dicionário de dados:

<br><b>variável | descrição | unidade </b></br>
<br>date | data e hora da coleta             -
<br> id | ID da estação de coleta             -
<br>prec | precipitação |       mm
<br>tair | temperatura do ar  | graus Celsius
<br>tw | temperatura de bulbo úmido |  graus Celsius
<br>tmax | temperatura máxima do ar  | graus Celsius
<br>tmin | temperatura mínima do ar  | graus Celsius
<br>urmax | umidade relativa máxima  |             %
<br>patm | pressão atmosférica         |    hPa
<br>pnmm | pressão atmosférica média ao nível do mar  |           hPa
<br>wd | direção do vento        |   graus
<br>wsmax  |  rajadas de vento    |         m/s
<br>n |  horas de sol          |     h
<br>cc |   cobertura de nuvens    |           -
<br>evap  |   evaporação        |      mm
<br>ur  |   umidade relativa          |     %
<br>ws   |   velocidade do vento       |      m/s

## Explorando

> **Hipótese**: as queimadas que ocorreram na amazônia, entre 8 e 22 de Agosto de 2019 influenciaram as temperaturas na região e/ou no restante do país?

Primeiramente, vamos fazer que a coluna date seja do tipo **datetime**

In [0]:
df.head()

                  date     id  prec  tair    tw  ...   n   cc  evap     ur  ws
0  1970-05-04 00:00:00  83010   NaN   NaN   NaN  ... NaN  NaN   NaN  89.75 NaN
1  1970-05-04 12:00:00  83010   NaN  25.3  24.0  ... NaN  5.0   NaN    NaN NaN
2  1970-05-04 18:00:00  83010   NaN  29.2  27.1  ... NaN  4.0   NaN    NaN NaN
3  1970-05-05 00:00:00  83010   NaN  25.0  27.0  ... NaN  8.0   2.4  88.25 NaN
4  1970-05-05 12:00:00  83010   0.0  25.9  24.8  ... NaN  4.0   NaN    NaN NaN

[5 rows x 17 columns]

In [0]:
df.dtypes

date      object
id         int64
prec     float64
tair     float64
tw       float64
tmax     float64
tmin     float64
urmax    float64
patm     float64
pnmm     float64
wd       float64
wsmax    float64
n        float64
cc       float64
evap     float64
ur       float64
ws       float64
dtype: object

In [0]:
df['date'] = pd.to_datetime(df['date'])

In [23]:
df.dtypes

date     datetime64[ns]
id                int64
prec            float64
tair            float64
tw              float64
tmax            float64
tmin            float64
urmax           float64
patm            float64
pnmm            float64
wd              float64
wsmax           float64
n               float64
cc              float64
evap            float64
ur              float64
ws              float64
dtype: object

Vamos selecionar o período desejado para a análise: 01/Ago a 31/Ago

In [0]:
start_date = pd.to_datetime('01/08/2019', dayfirst=True)
end_date = pd.to_datetime('31/08/2019', dayfirst=True)

In [0]:
mask = (df['date'] > start_date) & (df['date'] < end_date)

In [24]:
df['date'].max()

Timestamp('2018-12-31 18:00:00')

> <b>Não</b> temos dados de <b>2019</b>!!! Vamos baixar da fonte

### Sobre a nuvem preta de SP

>Segundo o documento, a passagem da frente fria fez o vento de camadas mais altas da atmosfera (entre mil metros e 5 mil metros de altitude) mudar de direção. Com isso, a fumaça acabou “direcionada para o estado de São Paulo, mas também para a região sul de Mato Grosso, Mato Grosso do Sul e Paraná”. O texto destaca, ainda, que o satélite Terra/MODIS, operado pela Nasa, detectou que uma grande quantidade de fumaça vinda da Bolívia e de Rondônia se encaminhava ao sul do Brasil no dia 17 de agosto. A fumaça, antes concentrada do sul do país, teria ganhado Paraná e Mato Grosso do Sul e alcançado São Paulo no dia 19 de agosto – justamente quando a tarde ficou escura na capital paulistana.<

>Segundo o documento, a passagem da frente fria fez o vento de camadas mais altas da atmosfera (entre mil metros e 5 mil metros de altitude) mudar de direção. Com isso, a fumaça acabou “direcionada para o estado de São Paulo, mas também para a região sul de Mato Grosso, Mato Grosso do Sul e Paraná”. O texto destaca, ainda, que o satélite Terra/MODIS, operado pela Nasa, detectou que uma grande quantidade de fumaça vinda da Bolívia e de Rondônia se encaminhava ao sul do Brasil no dia 17 de agosto. A fumaça, antes concentrada do sul do país, teria ganhado Paraná e Mato Grosso do Sul e alcançado São Paulo no dia 19 de agosto – justamente quando a tarde ficou escura na capital paulistana.

>Para notar a tal frente fria, bastava olhar os termômetros. Segundo o Inmet (Instituto Nacional de Meteorologia), na tarde do domingo (18), a temperatura às 15h era de 28,4°C. No mesmo horário do dia seguinte (19), registrou-se 15,3°C – um declínio de 13°C. Isso deixou o dia encoberto e com garoa em diferentes cidades do estado de São Paulo já no começo da segunda-feira. 

>“A sensação de escuridão foi por conta da formação de uma nuvem bastante baixa e densa, provavelmente uma nuvem Nimbustratus ou Cumulonimbus, que se formou na região de São Paulo, muito próxima a superfície. É normal acontecer, se tem o avanço da frente fria, dependendo das condições de umidade, pode se formar essas nuvens”, explicou o meteorologista do CPTEC, Maicon Veber.

>“As partículas [de fumaça] funcionam como núcleo de condensação da água. Assim, gotículas de chuva menores são formadas, mas em grande quantidade, e isso faz com que uma maior parte da radiação solar seja refletida de volta para o espaço, a ponto de escurecer o solo”, explicou. [fonte](https://www.oeco.org.br/noticias/pesquisadores-descrevem-fenomeno-que-escureceu-sp-e-sua-relacao-com-as-queimadas-na-amazonia/)

In [26]:
df['id'].nunique()

389

# Prophet
## Quick Start

Source: https://facebook.github.io/prophet/docs/quick_start.html

In [0]:
import pandas as pd
from fbprophet import Prophet

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/facebook/prophet/master/examples/example_wp_log_peyton_manning.csv")
df.head()

In [0]:
m = Prophet()
m.fit(df)

In [0]:
future = m.make_future_dataframe(periods=365)
future.tail()

In [0]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [0]:
fig1 = m.plot(forecast)

In [0]:
fig2 = m.plot_components(forecast)